
//---------------partner page or other programe page css start here ------------------
#sections{
    height: 100%;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
}
.section_images{
    position: relative;
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height:30rem;
        background-image: url('../img/vactor/images1.png');
        background-repeat: no-repeat;
        background-size:contain;
        background-position: right;
        z-index: -1;

    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:30rem;
        background-image: url('../img/vactor/images1.png');
        background-repeat: no-repeat;
        background-size:contain;
        background-position: left;
        z-index: -1;
    }
}
.about_program_image{
    position: relative;
    &::before{
            content: '';
            position: absolute;
            bottom: -20%;
            left: -45%;
            width: 100%;
            height:15rem;
            background-image: url('../img/vactor/shap3.png');
            background-repeat: no-repeat;
            background-size:contain;
            background-attachment: fixed;
            background-position: center;
            z-index: -1;
            animation: shaproteation 15s infinite;
    }
    @keyframes shaproteation {
        0% {
          
            transform: rotate(30deg);
          
        }
        100% {
    
            transform: rotate(360deg);
        }
    }
    img{
        height: 60rem;
        width: 100%;
        object-fit: cover;
        border-top-right-radius: 10rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       
    }
}
.programe_content{
    background: rgba(255,255,255,0.85);
    padding: 2rem;
    z-index: +1;
    h2{
        @include heading1($color:$color3);
        
        span{
            font-size: 4.5rem;
            color: red;
            -webkit-text-stroke: 1px #F8F8F8;
            text-shadow: 0px 2px 4px blue;
        }
        
    }
    p{
        text-align: justify;
    }

}

// -----------  become a volunteer page css 
.meet_v_bg{
    background: rgba(221,143,33,0.15);
}
.volunteer_application{
    height: 100%;
    width: 100%;
    
}
.application_image{
    height: 100%;
   
    img{
        border: 4rem solid #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
}
.application_form{
    margin: 0 auto;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 2rem;
    display: block;
    h1{
        text-align: center;
        @include heading1($color:$color3);
    }
}

// ------
.meet_our_volunteer{
    background: #fff;
    padding: 1rem ;
}
.volunteer_image{
    height: 35.5rem;
    width: 100%;
    object-fit: cover;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.volunteer_info{
    h3{
        text-transform: capitalize;
        font-weight: 700;
        &:hover{
          a{
            color: red;
          }
            
        }
    }
    strong{
        text-transform: capitalize;
        padding: 1rem 0rem ;
        color: green;
    }
}

// ----------  valuable donner ccss
.donner_card_area{
    min-height: 40rem;
    border: .5rem solid #ffac30;
    outline: 1.2rem solid #0c273e;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.info_bg{
    background-color: rgba(255,255,255,0.78);
}
.donner_all_info{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-image: url(../img/vactor/images1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: center;
    text-align: center;
    padding: 2rem;
    .logo{
        padding-bottom: 2rem ;
        img{
            height: 5rem ;
            width: auto;
        }
        h1{
            text-transform: uppercase;
            font-weight: 700;
        }
        span{
            font-size: 2.8rem;
            color: $color3;
        }
        p{
            letter-spacing: 1rem;
            font-style: italic;
        }
    }
}

.d_info{
    h1{
        font-family: "Dancing Script", cursive;
        font-size: 4.5rem;
        &::after{
            content: '';
            height: .1rem;
            width: 100%;
            background: $color3;
            display: block;

        }
    }
    p{
        padding-top:.5rem;
        text-align: center;
        font-family: "Dancing Script", cursive;
        font-size: 2.7rem;
    }
}
.d_footer{
    padding-top: 4rem;
    img{
        
        height: 5.5rem;
        margin: 0rem;
    }
    h6{
        position: relative;
        padding-top: 1rem;
        font-weight: 700;
        &::before{
            position: absolute;
            top: 0;
            left:40%;
            content: '';
            height: .1rem;
            width: 20%;
            background: $color3;
            display: block;
        }
    }
}
//  our impact page css start here 
.Our_impact_area{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 2rem;
}
.impact_image{
    .image_figure{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
.impect_content{
    h1{
        @include heading1($color:$color3);
        font-weight: 700;
    }
    p{
        text-align: justify;
    }
}
.impect_slogan{
    background-color: #cecfcf;
    padding: 2.3rem;
    border-left: .5rem solid red;
    margin-bottom: 1rem;
    p{
        color: #000;
        text-align: justify;
    }
}

.impact_comment{
    padding: 2rem;
    h6{
        text-align: center;
        padding-bottom: 5rem;
        font-weight: 700;
    }
    img{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        height: auto;
        width: auto;
    }
    h4{
        font-weight: 600;
        text-transform: capitalize;
        padding-bottom: 2rem;
    }
    p{
        text-align: justify;
    }

}
.comsec{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    margin-bottom: 2rem;
    padding: 2rem;
}
.comment_impect_form{
    padding: 4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}












