@media only screen and (max-width: 1200px) {
  .index_main_slider{
      height: 100%;
      width: 100%;
    }
    .index_slider_content{
      height: 100%;
      width: 90%;
      margin: 0 auto;
      align-items: center;
      align-content: center;
      display: grid;
      padding: 4rem 1rem;
    }

    .product_image-lr{
      background-color: #fff;
      padding: 2rem;
      border-radius: 50%;
      margin: 0;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      height: 15rem;
      width: 15rem;
      img{
          height: 11rem;
          width: 11rem;
          object-fit: cover;
      }
  }
  .product_image{
      background-color: #fff;
      padding: 2rem;
      border-radius: 50%;
      margin: 0;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      height: 15rem;
      width: 15rem;
      img{
          height: 11rem;
          width: 11rem;
          object-fit: cover;
      }
  }
  // testimonial
  .clients_profile{
    display: block;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 2rem 2rem ;
  }
  .cl_pro{
    img{
      height: 7rem;
      width: 7rem !important;
      border-radius: 50%;
      border: 2px solid #fff;
      box-shadow: rgba(230, 231, 231, 0.12) 0px 2px 4px 0px, rgba(238, 239, 240, 0.32) 0px 2px 16px 0px;
      overflow: hidden;
    }
  }
  // testimonial end
  .whats_new_image{
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    img{
      height: auto;
      width:auto;
      margin: 1rem;
    }
  }

  .our_strtigy{
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   overflow-x:none ;
  }
}