.volunteerbody{
    background-image: url(../img//vactor/v2.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    right: 0;
    top: 0;

}  
.vbg{
    background: rgba(255,255,255,0.55);
}